@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Montserrat', sans-serif;
}

.product_div:hover .product_show_btn{
    display: flex;
    flex-direction: column;
    column-gap:22px ;
    transition:0.8s all;
    
}
.navbar{
    height: 56px;
}
.login_div{
    height: calc(100%-56px);

}